#interactiveGraphic { width:1024px;height:625px;margin:25px auto 0px auto;font-family: "Lato", 'Helvetica', 'Arial', sans-serif;}

.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 0px #CDCDCD;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: none;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 1px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
    display:none;
}

.jvectormap-zoomin {
    top: 10px;
}

.jvectormap-zoomout {
    top: 30px;
}

.bubble { position:absolute;background:url('bubble.png');z-index:11;width:243px;height:145px;font-family: "Lato";margin-left:-108px;margin-top:-130px;}
.bubble .ttText { width:280px;margin-top:30px;line-height:22px;font-size:14px;color:#555;}
.bubble .ttText .ttName { width:243px;font-size:16px;color:#666;text-align:center;color:#333333;}
.bubble .ttText .ttState { width:243px;font-size:18px;color:#444;text-align:center;color:#333333;line-height:14px;}
.bubble .ttFade { color:#999;}
.bubble .ttResize { font-size:10px;text-align:center; color:#999;line-height:10px;margin-top:5px;}

#bigYear { width:300px;text-align:center; z-index:1000;font-size:29px;color:#999;bottom:25px;margin:0 auto 0;}
/*#world-map-key { position:absolute;top:300px;float:right;right: 450px; width:300px;}*/
#world-map-key { width:500px; margin:0 auto !important;}
.key-Block { }
.key-wrap { float:left;width:100px;margin-top:3px;}
.keys-all {width:15px;height:15px;float:left;}
#key-one { background:#12C364;}
#key-two { background:#75C6E8;}
#key-thr { background:#e54848;}
#key-for { background:#a3a3a3;}
#key-fiv { background:#E8D86E;}
.key-text {font-size:16px;color:#555;margin-left:7px;width:75px;float:left;margin-top:-1px;}


#slider { width:400px; margin:40px auto 0!important;}
#navKey {  width:600px; text-align:center;z-index:100;font-size:14px;color:#999;bottom:25px;margin:30px auto 15px;}
#content { position:relative; width:350px; text-align:left;z-index:999;font-size:12px;line-height:12px; color:#999;bottom:25px;margin:-240px 0px -50px -100px;}

.mapHeader{ width:900px; text-align:center;margin:0 auto 0;color:#616161;font-size:30px;line-height:34px}
.mapDesc{width:500px; margin:20px auto 15px;color:#666;font-size:15px;font-weight:normal;text-align:center;}

.countries { text-align:center;z-index:100;font-size:12px;color:#999;bottom:25px; margin:0px auto 100px;}